.inputContainer {
    margin: 0 0 0 0rem;
    border: 0;
    font-size: 0.9rem;
    border-bottom: 0.05rem solid black;
    width: 100%;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
    cursor: text;
    position: relative;
    padding: 0.4rem;
}

.inputContainer::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputContainer::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.text {
    color: black;
    font-size: 0.9rem;
    font-family: Arial;
    font-weight: bold;
    white-space: nowrap;

}