.mainContainer {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.title {
    color: black;
    font-size: 1.5rem;
    font-family: Arial;
    font-weight: bold;
    margin: 0;
}

.inputContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 4rem;
    margin-top: 3rem;
    padding: 1rem;
}

.inputHC_HM {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 13%;
}

.inputConvenio {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 17%;
}

.inputNumero {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 42%;

}

.inputData {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
}

.inputPaciente {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.inputCPF_RG_FONE {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
}

.inputCep {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.inputEndereco {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.inputDataNascimento {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%
}

.inputIdade {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
}

.inputProfissao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
}

.inputEmail {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.inputIndicacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}

.bar {
    border: 0.1rem solid black;
    margin: 0 4rem;
    margin-top: 3rem;
    width: 90%
}