.mainContainer {
    padding: 0;
    margin: 0 auto;
    font-family: Arial;
    width: 21cm;
    height: 29.7cm;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@page {
    size: A4;
    margin: 0;
}

.formContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

}

.container_shadow {
    box-shadow: 4px 3px 13px 2px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 4px 3px 13px 2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 4px 3px 13px 2px rgba(0, 0, 0, 0.59);
}

.title {
    color: black;
    font-size: 1rem;
    font-family: Arial;
    font-weight: bold;
    margin: 0;
}

.inputContainer {
    width: 19cm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1cm;
    box-sizing: border-box;
    font-size: 0.7rem;
}

.inputHC_HM {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 13%;
    margin: 0.5rem 0;
}

.inputConvenio {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 29%;
    margin: 0.5rem 0;
}

.inputNumero {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    margin: 0.5rem 0;
}

.inputData {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    margin: 0.5rem 0;
}

.inputPaciente {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
}

.inputCPF_RG_FONE {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
    margin: 0.5rem 0;
}

.inputCep {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    margin: 0.5rem 0;
}

.inputEndereco {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 0.5rem 0;
}

.inputDataNascimento {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    margin: 0.5rem 0;
}

.inputDataNascimento input[type="date"] {
    background: transparent;
    outline: none;
    font-family: Arial, sans-serif;
    appearance: none;
    /* padrão */
    -webkit-appearance: none;
    /* Safari e Chrome */
    -moz-appearance: none;
    /* Firefox */
    cursor: text;
}

.inputIdade {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    margin: 0.5rem 0;
}

.inputProfissao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 0.5rem 0;
}

.inputEmail {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: 0.5rem 0;
}

.inputIndicacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    margin: 0.5rem 0;
}

.bar {
    border: 0.1rem solid black;
    margin: 0 4rem;
    margin-top: 0.7rem;
    width: 90%
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.icon_bnt {
    font-size: 1.5rem;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            #e5252a 10.8%,
            #b71d21 94.3%);

    transition: all 0.475s;
}

.textOnly {
    font-size: 0.9rem;
    border-bottom: 0.05rem solid black;
    white-space: nowrap;
    width: 100%;
    padding: 0.4rem;

}

.label {
    font-size: 0.9rem;
    white-space: nowrap;
}