.mainContainer {
    padding: 0;
    margin: 0 auto;
    font-family: Arial;
    width: 21cm;
    height: 29.7cm;
    box-sizing: border-box;
}

@page {
    size: A4;
    margin: 0;
}

.formContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

}

.title {
    color: black;
    font-size: 1rem;
    font-family: Arial;
    font-weight: bold;
    margin: 0;
}

.inputContainer {
    width: 19cm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1cm;
    box-sizing: border-box;
    font-size: 0.7rem;
}

.inputHC_HM {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 13%;
    margin: 0.5rem 0;
}

.inputConvenio {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 29%;
    margin: 0.5rem 0;
}

.inputNumero {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    margin: 0.5rem 0;
}

.inputData {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    margin: 0.5rem 0;
}

.inputPaciente {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
}

.inputCPF_RG_FONE {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
    margin: 0.5rem 0;
}

.inputCep {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    margin: 0.5rem 0;
}

.inputEndereco {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 0.5rem 0;
}

.inputDataNascimento {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    margin: 0.5rem 0;
}

.inputDataNascimento input[type="date"] {
    background: transparent;
    outline: none;
    font-family: Arial, sans-serif;
    appearance: none;
    /* padrão */
    -webkit-appearance: none;
    /* Safari e Chrome */
    -moz-appearance: none;
    /* Firefox */
    cursor: text;
}

.inputIdade {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    margin: 0.5rem 0;
}

.inputProfissao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 0.5rem 0;
}

.inputEmail {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: 0.5rem 0;
}

.inputIndicacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    margin: 0.5rem 0;
}

.bar {
    border: 0.1rem solid black;
    margin: 0 4rem;
    margin-top: 0.7rem;
    width: 90%
}