.containerDoutor {
    width: 19cm;
    font-family: Arial;
    font-size: 0.6rem;
    margin-top: 1.5rem
}

.containerDoutor p {
    margin: 0;
    padding: 0;
}

.containerDoutor h1 {
    font-size: 1rem;
}

.outros_bar {
    width: 30%;
    height: auto;
    border-bottom: 0.05rem solid black;
    margin-top: 1rem;
}

.divBars {
    width: 100%;
    display: flex;
    align-items: center;
    outline: none;
    white-space: nowrap;
    padding: 0;
    /* Removido padding lateral exagerado */
}

.divBars1 {
    width: 100%;
    display: flex;
    align-items: center;
    outline: none;
    white-space: nowrap;
    padding-right: 7rem;
}

.divBars2 {
    width: 100%;
    display: flex;
    align-items: center;
    outline: none;
    white-space: nowrap;
    padding-left: 7rem;

}

.bar {
    width: 100%;
    height: auto;
    border-bottom: 0.05rem solid black;
    margin-top: 1rem;
}

.queixas,
.BIOs,
.list_REF,
.div_list ul,
.me,
.conduta,
.obs {
    font-size: 0.8rem;
}

.list_queixas,
.list_REF,
.list_bio,
.div_list ul {
    list-style: none;
    width: 100%;
    padding: 0;
}


.div_list ul li {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.list_bio li {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.list_REF li {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.list_queixas li {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.REF {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.BIO {
    width: 100%;
}

.div_outros {
    width: 100%;
    margin-top: 1rem;
}

.me,
.conduta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.obs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1rem;
}

.dr {
    font-size: 0.9rem;
}